.form-custom{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("../../images/background.png");
    background-size: cover;
}
.login{
    margin-top: 280px;

}
.user_input{
    border-bottom: 1px solid white;
    margin-bottom: 40px;
}
.custom input{
    background-color: rgba(0,0,0,0);
    outline: none;
    border:none;
    color: white;
    margin-bottom: 8px;
    margin-left: 25px;
    font-size: 14px;
}
.custom label{
    display: inline-block;
    width: 20px;
    height: 20px;
    color:white;
    margin-bottom: -5px;
}
#username_icon{
    background-image: url("../../images/name.png");
    background-size: cover;
}
#userpas_icon{
    background-image: url("../../images/password.png");
    background-size: cover;
}
.btn{
    background-color: #0073df;
    color: white;
}

.signin{
    width: 100%;
    height: 40px;
    font-size: 18px;
}